@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.rdrMonth {
  width : 100% !important
}

.rdrCalendarWrapper {
  width: 100% !important;
  font-size: 16px !important;
}

